<h1>Choose a color</h1>

<% colors =  %w(red yellow pink orange gray) %>

<% if @name %>
	<div>
		<p>
			Hello, <%= @name %>
		</p>
	</div>
<% end %>

<% colors.each do |color| %>
<p>
	<%= link_to color.capitalize, about_path(color: color) %>
</p>

<% end %>

<!-- <p>
	<%= link_to 'Red', about_path(color: 'red') %>
</p>
<p>
    <%= link_to "Blue", about_path(color: "blue") %>
</p>

<p>
    <%= link_to "Green", about_path(color: "green") %>
</p>

<p>
    <%= link_to "Yellow", about_path(color: "yellow") %>
</p> -->